# Financial data for fundamental analysis

In [1]:
import yfinance as yf

In [3]:
msft = yf.Ticker("MSFT")

## General info

In [12]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.48648998,
 'profitMargins': 0.38515,
 'grossMargins': 0.68864995,
 'operatingCashflow': 81945001984,
 'revenueGrowth': 0.22,
 'operatingMargins': 0.42143002,
 'ebitda': 85745000448,
 'targetLowPrice': 299.93,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 49819750400,
 'targetMedianPrice': 370,
 'currentPrice': 296.03,
 'earningsGrowth': 0.489,
 'currentRatio': 2.165,
 'returnOnAssets': 0.14589,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 370.28,
 'debtToEquity': 51.938,
 'returnOnEquity': 0.49303,
 'targetHighPrice': 425,
 'totalCash': 130584002560,
 'totalDebt': 78934999040,
 'totalRevenue': 176250994688,
 'totalCashPerShare': 17.393,
 'financialCurrency': 'USD',
 'revenuePerShare': 23.395,
 'quickRatio': 1.961,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 12.317,
 'beta3Year': None,
 'enterpriseToEbitda': 25.319,
 '52WeekChange': 0.28972244,
 'morningStarRiskRating': None,
 'forwardEps': 10.55,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7507979776,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 20.242,
 'sharesShort': 39382126,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71808,
 'netIncomeToCommon': 67882999808,
 'trailingEps': 8.939,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': 0.14073396,
 'priceToBook': 14.624542,
 'heldPercentInsiders': 0.00062,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1632960000,
 'shortRatio': 1.35,
 'sharesShortPreviousMonthDate': 1638230400,
 'floatShares': 7501148182,
 'beta': 0.862138,
 'enterpriseValue': 2170938458112,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1637107200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.476,
 'priceToSalesTrailing12Months': 12.6103525,
 'dateShortInterest': 1640908800,
 'pegRatio': 1.98,
 'ytdReturn': None,
 'forwardPE': 28.059715,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 40876626,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 301.6,
 'regularMarketOpen': 302.685,
 'twoHundredDayAverage': 292.5776,
 'trailingAnnualDividendYield': 0.0076259943,
 'payoutRatio': 0.25059998,
 'volume24Hr': None,
 'regularMarketDayHigh': 304.08,
 'navPrice': None,
 'averageDailyVolume10Day': 40667810,
 'regularMarketPreviousClose': 301.6,
 'fiftyDayAverage': 328.1462,
 'trailingAnnualDividendRate': 2.3,
 'open': 302.685,
 'toCurrency': None,
 'averageVolume10days': 40667810,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1644969600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 295.61,
 'currency': 'USD',
 'trailingPE': 33.11668,
 'regularMarketVolume': 55120533,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2222587117568,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 29721198,
 'dayLow': 295.61,
 'ask': 296.2,
 'askSize': 1200,
 'volume': 55120533,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.39,
 'fiftyTwoWeekLow': 224.22,
 'bid': 296.2,
 'tradeable': False,
 'dividendYield': 0.0084,
 'bidSize': 1000,
 'dayHigh': 304.08,
 'regularMarketPrice': 296.03,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.9113}

In [27]:
msft.isin

'US5949181045'

In [31]:
msft.calendar

                                Value
Earnings Date     2022-01-25 21:00:00
Earnings Average                 2.31
Earnings Low                     2.27
Earnings High                    2.46
Revenue Average           50876600000
Revenue Low               50536700000
Revenue High              51800000000

## Price history (OHLC, volume, dividends, splits)

In [13]:
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055898,0.064119,0.055898,0.061378,1031788800,0.0,0.0
1986-03-14,0.061378,0.064667,0.061378,0.063570,308160000,0.0,0.0
1986-03-17,0.063570,0.065215,0.063570,0.064667,133171200,0.0,0.0
1986-03-18,0.064667,0.065215,0.062474,0.063022,67766400,0.0,0.0
1986-03-19,0.063022,0.063570,0.061378,0.061926,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-01-14,304.250000,310.820007,303.750000,310.200012,39823500,0.0,0.0
2022-01-18,304.070007,309.799988,301.739990,302.649994,42333200,0.0,0.0
2022-01-19,306.290009,313.910004,302.700012,303.329987,45933900,0.0,0.0
2022-01-20,309.070007,311.649994,301.140015,301.600006,35380700,0.0,0.0
2022-01-21,302.690002,304.109985,295.609985,296.029999,57118300,0.0,0.0

## Actions (dividends, splits)

In [14]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0

[81 rows x 2 columns]

In [15]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-11-18    0.56
2021-02-17    0.56
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
Name: Dividends, Length: 72, dtype: float64

In [16]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

## Income statement

In [17]:
msft.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Selling General Administrative,25224000000.0,24523000000.0,23098000000.0,22223000000.0
Gross Profit,115856000000.0,96937000000.0,82933000000.0,72007000000.0
Ebit,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Operating Income,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2330000000.0,-2591000000.0,-2686000000.0,-2733000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9831000000.0,8755000000.0,4448000000.0,19903000000.0
Total Revenue,168088000000.0,143015000000.0,125843000000.0,110360000000.0
Total Operating Expenses,98172000000.0,89870000000.0,82884000000.0,75302000000.0
Cost Of Revenue,52232000000.0,46078000000.0,42910000000.0,38353000000.0
Total Other Income Expense Net,1186000000.0,-109000000.0,729000000.0,1416000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Net Income Applicable To Common Shares,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [18]:
msft.quarterly_financials

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Research Development,5599000000.0,5687000000.0,5204000000.0,4899000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20524000000.0,19405000000.0,17236000000.0,18337000000.0
Minority Interest,None,None,None,None
Net Income,20505000000.0,16458000000.0,15457000000.0,15463000000.0
Selling General Administrative,5834000000.0,7379000000.0,6409000000.0,6086000000.0
Gross Profit,31671000000.0,32161000000.0,28661000000.0,28882000000.0
Ebit,20238000000.0,19095000000.0,17048000000.0,17897000000.0
Operating Income,20238000000.0,19095000000.0,17048000000.0,17897000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-535000000.0,-549000000.0,-628000000.0,-568000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,19000000.0,2947000000.0,1779000000.0,2874000000.0
Total Revenue,45317000000.0,46152000000.0,41706000000.0,43076000000.0
Total Operating Expenses,25079000000.0,27057000000.0,24658000000.0,25179000000.0
Cost Of Revenue,13646000000.0,13991000000.0,13045000000.0,14194000000.0
Total Other Income Expense Net,286000000.0,310000000.0,188000000.0,440000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,20505000000.0,16458000000.0,15457000000.0,15463000000.0
Net Income Applicable To Common Shares,20505000000.0,16458000000.0,15457000000.0,15463000000.0

## Cash flow statement

In [23]:
msft.cashflow

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Investments,2.876000e+09,6.980000e+09,5.400000e+08,6.557000e+09
Change To Liabilities,7.431000e+09,5.230000e+09,4.694000e+09,7.070000e+09
Total Cashflows From Investing Activities,-2.757700e+10,-1.222300e+10,-1.577300e+10,-6.061000e+09
Net Borrowings,-3.750000e+09,-5.518000e+09,-4.000000e+09,-1.020100e+10
Total Cash From Financing Activities,-4.848600e+10,-4.603100e+10,-3.688700e+10,-3.359000e+10
Change To Operating Activities,1.160000e+09,-6.730000e+08,-1.542000e+09,-4.590000e+08
Issuance Of Stock,1.693000e+09,1.343000e+09,1.142000e+09,1.002000e+09
Net Income,6.127100e+10,4.428100e+10,3.924000e+10,1.657100e+10
Change In Cash,6.480000e+08,2.220000e+09,-5.900000e+08,4.283000e+09
Repurchase Of Stock,-2.738500e+10,-2.296800e+10,-1.954300e+10,-1.072100e+10
Effect Of Exchange Rate,-2.900000e+07,-2.010000e+08,-1.150000e+08,5.000000e+07
Total Cash From Operating Activities,7.674000e+10,6.067500e+10,5.218500e+10,4.388400e+10
Depreciation,1.090000e+10,1.230000e+10,1.160000e+10,9.900000e+09
Other Cashflows From Investing Activities,-9.220000e+08,-1.241000e+09,-1.241000e+09,-9.800000e+07
Dividends Paid,-1.652100e+10,-1.513700e+10,-1.381100e+10,-1.269900e+10
Change To Inventory,-7.370000e+08,1.680000e+08,5.970000e+08,-4.650000e+08
Change To Account Receivables,-6.481000e+09,-2.577000e+09,-2.812000e+09,-3.862000e+09
Other Cashflows From Financing Activities,-2.523000e+09,-3.751000e+09,-6.750000e+08,-9.710000e+08
Change To Netincome,5.505000e+09,5.577000e+09,-2.521000e+09,-3.054000e+09
Capital Expenditures,-2.062200e+10,-1.544100e+10,-1.392500e+10,-1.163200e+10

In [24]:
msft.quarterly_cashflow

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Investments,4.183000e+09,-4.334000e+09,2.517000e+09,2.593000e+09
Change To Liabilities,-3.356000e+09,1.301400e+10,3.600000e+08,-3.194000e+09
Total Cashflows From Investing Activities,-3.250000e+09,-1.085300e+10,-9.684000e+09,-1.669000e+09
Net Borrowings,-4.826000e+09,-4.826000e+09,-5.000000e+08,-3.250000e+09
Total Cash From Financing Activities,-1.627600e+10,-1.137100e+10,-1.319200e+10,-1.363400e+10
Change To Operating Activities,-3.551000e+09,7.990000e+08,1.305000e+09,1.879000e+09
Issuance Of Stock,6.120000e+08,4.500000e+08,3.960000e+08,3.020000e+08
Net Income,2.050500e+10,1.645800e+10,1.545700e+10,1.546300e+10
Change In Cash,4.941000e+09,5.220000e+08,-7.300000e+08,-2.773000e+09
Repurchase Of Stock,-7.684000e+09,-7.177000e+09,-6.930000e+09,-6.535000e+09
Effect Of Exchange Rate,-7.300000e+07,3.600000e+07,-3.300000e+07,1.400000e+07
Total Cash From Operating Activities,2.454000e+10,2.271000e+10,2.217900e+10,1.251600e+10
Depreciation,3.212000e+09,2.558000e+09,2.936000e+09,2.761000e+09
Other Cashflows From Investing Activities,-4.170000e+08,4.340000e+08,4.000000e+08,3.270000e+08
Dividends Paid,-4.206000e+09,-4.214000e+09,-4.221000e+09,-4.230000e+09
Change To Inventory,-7.770000e+08,-3.880000e+08,-3.290000e+08,7.880000e+08
Change To Account Receivables,1.048600e+10,-1.160600e+10,2.900000e+08,-4.008000e+09
Other Cashflows From Financing Activities,-1.720000e+08,-4.300000e+08,-1.937000e+09,7.900000e+07
Change To Netincome,-4.632000e+09,1.907000e+09,1.086000e+09,1.195000e+09
Capital Expenditures,-5.810000e+09,-6.452000e+09,-5.089000e+09,-4.174000e+09

## Balance sheet

In [21]:
msft.balance_sheet

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Intangible Assets,7.800000e+09,7.038000e+09,7.750000e+09,8.053000e+09
Total Liab,1.917910e+11,1.830070e+11,1.842260e+11,1.761300e+11
Total Stockholder Equity,1.419880e+11,1.183040e+11,1.023300e+11,8.271800e+10
Other Current Liab,5.261200e+10,4.600100e+10,4.586000e+10,3.819500e+10
Total Assets,3.337790e+11,3.013110e+11,2.865560e+11,2.588480e+11
Common Stock,8.311100e+10,8.055200e+10,7.852000e+10,7.122300e+10
Other Current Assets,1.347100e+10,1.151700e+10,1.013300e+10,6.855000e+09
Retained Earnings,5.705500e+10,3.456600e+10,2.415000e+10,1.368200e+10
Other Liab,3.168100e+10,3.449200e+10,3.569900e+10,3.570700e+10
Good Will,4.971100e+10,4.335100e+10,4.202600e+10,3.568300e+10
Treasury Stock,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Other Assets,1.507500e+10,1.313800e+10,1.472300e+10,7.442000e+09
Cash,1.422400e+10,1.357600e+10,1.135600e+10,1.194600e+10
Total Current Liabilities,8.865700e+10,7.231000e+10,6.942000e+10,5.848800e+10
Deferred Long Term Asset Charges,7.181000e+09,6.405000e+09,7.536000e+09,1.369000e+09
Short Long Term Debt,8.072000e+09,3.749000e+09,5.516000e+09,3.998000e+09
Other Stockholder Equity,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Property Plant Equipment,7.080300e+10,5.290400e+10,4.385600e+10,3.614600e+10
Total Current Assets,1.844060e+11,1.819150e+11,1.755520e+11,1.696620e+11
Long Term Investments,5.984000e+09,2.965000e+09,2.649000e+09,1.862000e+09
Net Tangible Assets,8.447700e+10,6.791500e+10,5.255400e+10,3.898200e+10
Short Term Investments,1.160320e+11,1.229160e+11,1.224760e+11,1.217180e+11
Net Receivables,3.804300e+10,3.201100e+10,2.952400e+10,2.648100e+10
Long Term Debt,5.007400e+10,5.957800e+10,6.666200e+10,7.224200e+10
Inventory,2.636000e+09,1.895000e+09,2.063000e+09,2.662000e+09
Accounts Payable,1.516300e+10,1.253000e+10,9.382000e+09,8.617000e+09

In [22]:
msft.quarterly_balance_sheet

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Intangible Assets,7.794000e+09,7.800000e+09,8.127000e+09,6.555000e+09
Total Liab,1.834400e+11,1.917910e+11,1.743740e+11,1.739010e+11
Total Stockholder Equity,1.519780e+11,1.419880e+11,1.345050e+11,1.302360e+11
Other Current Liab,5.262200e+10,5.261200e+10,4.006900e+10,3.992600e+10
Total Assets,3.354180e+11,3.337790e+11,3.088790e+11,3.041370e+11
Common Stock,8.375100e+10,8.311100e+10,8.230800e+10,8.189600e+10
Other Current Assets,1.298200e+10,1.347100e+10,1.203400e+10,1.274800e+10
Retained Earnings,6.694400e+10,5.705500e+10,5.073500e+10,4.497300e+10
Other Liab,3.015700e+10,3.168100e+10,3.160100e+10,3.158500e+10
Good Will,5.045500e+10,4.971100e+10,4.969800e+10,4.421900e+10
Treasury Stock,1.283000e+09,1.822000e+09,1.462000e+09,3.367000e+09
Other Assets,2.110300e+10,1.507500e+10,1.442700e+10,1.356100e+10
Cash,1.916500e+10,1.422400e+10,1.370200e+10,1.443200e+10
Total Current Liabilities,8.052800e+10,8.865700e+10,7.219300e+10,6.748600e+10
Short Long Term Debt,3.249000e+09,8.072000e+09,8.051000e+09,5.387000e+09
Other Stockholder Equity,1.283000e+09,1.822000e+09,1.462000e+09,3.367000e+09
Property Plant Equipment,7.534700e+10,7.080300e+10,6.561800e+10,6.203500e+10
Total Current Assets,1.743260e+11,1.844060e+11,1.656140e+11,1.739730e+11
Long Term Investments,6.393000e+09,5.984000e+09,5.395000e+09,3.794000e+09
Net Tangible Assets,9.372900e+10,8.447700e+10,7.668000e+10,7.946200e+10
Short Term Investments,1.114190e+11,1.160320e+11,1.113110e+11,1.175570e+11
Net Receivables,2.734900e+10,3.804300e+10,2.632200e+10,2.731200e+10
Long Term Debt,5.003900e+10,5.007400e+10,5.000700e+10,5.513600e+10
Inventory,3.411000e+09,2.636000e+09,2.245000e+09,1.924000e+09
Accounts Payable,1.483200e+10,1.516300e+10,1.341200e+10,1.277000e+10
Deferred Long Term Asset Charges,NaN,7.181000e+09,NaN,NaN

## Earnings

In [25]:
msft.earnings

           Revenue     Earnings
Year
2018  110360000000  16571000000
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000

In [26]:
msft.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2020   43076000000  15463000000
1Q2021   41706000000  15457000000
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000

## Holders

In [19]:
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  71.81%       % of Shares Held by Institutions
2  71.85%        % of Float Held by Institutions
3    5399  Number of Institutions Holding Shares

In [20]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",613781686,2021-09-29,0.0818,173037332917
1,Blackrock Inc.,507117032,2021-09-29,0.0675,142966433661
2,State Street Corporation,294432926,2021-09-29,0.0392,83006530497
3,"FMR, LLC",215731468,2021-09-29,0.0287,60819015458
4,Price (T.Rowe) Associates Inc,197579453,2021-09-29,0.0263,55701599389
5,"Geode Capital Management, LLC",126079812,2021-09-29,0.0168,35544420599
6,Capital World Investors,110359787,2021-09-29,0.0147,31112631151
7,Capital Research Global Investors,94282634,2021-09-29,0.0126,26580160177
8,Capital International Investors,91901445,2021-09-29,0.0122,25908855374
9,Northern Trust Corporation,89592127,2021-09-29,0.0119,25257812443

## News and analysis

In [29]:
msft.news

[{'uuid': 'b27986b7-9a00-363e-9941-595c7371c5a8',
  'title': 'Dow Jones Futures: Apple, Tesla, Microsoft, Fed Meeting On Tap As Bears Rule; What To Do Now',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/b27986b7-9a00-363e-9941-595c7371c5a8/dow-jones-futures%3A-apple%2C.html',
  'providerPublishTime': 1642880144,
  'type': 'STORY'},
 {'uuid': 'a3dbee59-0c0c-3f12-a2a2-d362a0f2ca0b',
  'title': 'Can Microsoft acquisition cure Activisionâ€™s toxic workplace?',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/a3dbee59-0c0c-3f12-a2a2-d362a0f2ca0b/can-microsoft-acquisition.html',
  'providerPublishTime': 1642862580,
  'type': 'STORY'},
 {'uuid': '0aecabae-e101-3d60-a3fc-a7d3300c2048',
  'title': "4 Gaming Stocks to Buy After Microsoft's Deal to Buy Activision Blizzard",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/0aecabae-e101-3d60-a3fc-a7d3300c2048/4-gaming-stocks-to-buy-after.html',
  'providerPublishTime': 1642857000,
  'type': 'STORY'},
 {'uuid': '1241553d-56a7-3ff7-9c58-d65ede4da00d',
  'title': "Value Investing Is Back in Style! 3 Reasons That's Great for Most Investors",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/1241553d-56a7-3ff7-9c58-d65ede4da00d/value-investing-is-back-in.html',
  'providerPublishTime': 1642855680,
  'type': 'STORY'},
 {'uuid': '888452cf-3dd9-42c3-bb77-53684a10ca37',
  'title': 'How much money #MeToo CEOs should get',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/how-much-money-me-too-ce-os-should-get-103126441.html',
  'providerPublishTime': 1642855514,
  'type': 'STORY'},
 {'uuid': '21917177-1891-3172-b8b7-a77bfd5f2d36',
  'title': 'Microsoftâ€™s Activision Merger Is Historyâ€™s Biggest Tech Deal. The Stocks to Play It.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/21917177-1891-3172-b8b7-a77bfd5f2d36/microsoft%E2%80%99s-activision-merger.html',
  'providerPublishTime': 1642823580,
  'type': 'STORY'},
 {'uuid': '6d6f6098-d57f-3037-ad27-f77f11b8833a',
  'title': 'Eagle Bay Advisors LLC Buys BTC iShares Floating Rate Bond ETF, Microsoft Corp, Golub Capital ...',
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/eagle-bay-advisors-llc-buys-023816007.html',
  'providerPublishTime': 1642819096,
  'type': 'STORY'},
 {'uuid': '4f7e1e41-3845-32e3-940e-a22926c185fa',
  'title': 'Silicon Valley is split on a new bill aimed at curbing the power of Apple, Google and other Big Tech companies',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/4f7e1e41-3845-32e3-940e-a22926c185fa/silicon-valley-is-split-on-a.html',
  'providerPublishTime': 1642814520,
  'type': 'STORY'}]

In [43]:
msft.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               99
governanceScore                       4.73
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.26
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            5.64
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [45]:
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2021-10-28 14:55:44       Citigroup            Buy              main
2021-11-02 09:45:19   Deutsche Bank            Buy              init
2021-12-22 10:02:34      SMBC Nikko     Outperform              init
2022-01-03 20:23:48       Citigroup            Buy              main
2022-01-03 20:23:49         Keybanc     Overweight              main

[361 rows x 4 columns]

## Options

In [32]:
msft.options

('2022-01-28',
 '2022-02-04',
 '2022-02-11',
 '2022-02-18',
 '2022-02-25',
 '2022-03-04',
 '2022-03-18',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-08-19',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2024-01-19')

In [36]:
opt = msft.option_chain(msft.options[0])

In [46]:
opt.puts.head(10)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT220128P00215000,2022-01-21 20:59:20+00:00,215.0,0.10,0.10,0.12,0.07,233.33334,831.0,849.0,0.984375,False,REGULAR,USD
1,MSFT220128P00220000,2022-01-21 20:59:04+00:00,220.0,0.19,0.15,0.24,0.17,850.00000,821.0,518.0,0.994141,False,REGULAR,USD
2,MSFT220128P00225000,2022-01-21 20:59:20+00:00,225.0,0.24,0.23,0.25,0.19,380.00000,459.0,89.0,0.957032,False,REGULAR,USD
3,MSFT220128P00230000,2022-01-21 20:59:04+00:00,230.0,0.29,0.32,0.42,0.20,222.22221,436.0,648.0,0.954102,False,REGULAR,USD
4,MSFT220128P00235000,2022-01-21 20:49:18+00:00,235.0,0.33,0.32,0.58,0.22,200.00003,365.0,520.0,0.915040,False,REGULAR,USD
5,MSFT220128P00240000,2022-01-21 20:56:20+00:00,240.0,0.49,0.37,0.55,0.39,390.00000,235.0,155.0,0.847658,False,REGULAR,USD
6,MSFT220128P00245000,2022-01-21 20:59:31+00:00,245.0,0.60,0.50,0.85,0.41,215.78949,133.0,815.0,0.837892,False,REGULAR,USD
7,MSFT220128P00250000,2022-01-21 20:59:59+00:00,250.0,0.84,0.67,0.91,0.61,265.21738,4501.0,536.0,0.791018,False,REGULAR,USD
8,MSFT220128P00255000,2022-01-21 20:59:14+00:00,255.0,1.05,1.04,1.28,0.71,208.82352,341.0,582.0,0.784670,False,REGULAR,USD
9,MSFT220128P00260000,2022-01-21 20:59:45+00:00,260.0,1.45,1.41,1.45,0.98,208.51064,4281.0,589.0,0.746096,False,REGULAR,USD

In [47]:
opt.calls.head(10)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT220128C00215000,2022-01-21 18:38:41+00:00,215.0,85.31,79.35,83.35,-9.190002,-9.724871,2.0,1,1.142582,True,REGULAR,USD
1,MSFT220128C00220000,2022-01-21 19:33:18+00:00,220.0,80.28,74.55,78.40,-3.220001,-3.856289,23.0,4,1.129887,True,REGULAR,USD
2,MSFT220128C00225000,2022-01-18 05:09:54+00:00,225.0,94.25,69.50,73.45,0.000000,0.000000,NaN,1,1.056645,True,REGULAR,USD
3,MSFT220128C00230000,2022-01-14 17:16:05+00:00,230.0,78.75,64.55,68.50,0.000000,0.000000,7.0,8,1.002935,True,REGULAR,USD
4,MSFT220128C00235000,2022-01-14 17:39:40+00:00,235.0,73.70,59.70,63.50,0.000000,0.000000,1.0,1,0.955079,True,REGULAR,USD
5,MSFT220128C00240000,2022-01-21 16:21:28+00:00,240.0,63.50,54.85,58.75,-7.470001,-10.525576,10.0,11,0.936524,True,REGULAR,USD
6,MSFT220128C00245000,2022-01-20 18:36:06+00:00,245.0,62.95,49.85,53.90,0.000000,0.000000,2.0,2,0.878419,True,REGULAR,USD
7,MSFT220128C00250000,2022-01-21 20:30:42+00:00,250.0,48.39,45.20,49.00,-5.979999,-10.998712,12.0,33,0.847414,True,REGULAR,USD
8,MSFT220128C00255000,2022-01-20 15:15:33+00:00,255.0,55.80,40.65,43.95,0.000000,0.000000,3.0,23,0.802736,True,REGULAR,USD
9,MSFT220128C00260000,2022-01-21 20:57:39+00:00,260.0,38.30,36.05,39.15,-11.700001,-23.400002,65.0,18,0.765627,True,REGULAR,USD